<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap-theme.min.css' />
  </head>
  <body>
	<div ng-app="myApp">
	    <div class="container" ng-controller="AppCtrl">
	        <table class="table">
	            <thead>
	                <tr>
	                    <th>Name</th>
	                    <th>Email</th>
	                    <th>Number</th>
	                    <th>Action</th>
	                    <th>&nbsp;</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td><input class="form-control" ng-model="testdata.name"></td>
	                    <td><input class="form-control" ng-model="testdata.email"></td>
	                    <td><input class="form-control" ng-model="testdata.number"></td>
	                    <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
	                    <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
	                </tr>
	                <tr ng-repeat="data in test">
	                    <td>{{data.name}}</td>
	                    <td>{{data.email}}</td>
	                    <td>{{data.number}}</td>
	                    <td><button class="btn btn-danger" ng-click="remove(data._id)">Remove</button></td>
	                    <td><button class="btn btn-warning" ng-click="edit(data._id)">Edit</button></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>
	<script src="/javascripts/app/test.js"></script>
  </body>
</html>